html {
  background-color: black;
}

.konvajs-content {
  border: 1px solid white;
  margin-top: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instructions {
  color: #00D7CA;
  position: absolute;
  z-index: 100;
  font-family: sans-serif;
  text-align: center;
}

.instructions h3 {
  font-family: 'PT Sans', sans-serif;
  font-size: 48px;
  margin: 0;
}

#menu {
  transition: all .3s ease;
  position: fixed;
  right: -180px;
  top: 0;
  height: 100%;
}

#menu.menu-open {
  right: 0px;
}

#menu .fa-bars {
  color: #00D7CA;
  position: absolute;
  right: 190px;
  top: 15px;
  width: 50px;
  height: 50px;
  font-size: 45px;
}

#menu .fa-bars:hover {
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
  width: 130px;
  background-color: white;
  align-items: center;
}

.sidebar h2 {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  margin-top: 5px;
}

.play-button {
  width: 70px;
}

.play-button:hover {
  cursor: pointer;
}

.reset-button {
  width: 130px;
  padding: 5px;
  background-color: white;
  border: 2px solid black;
  font-size: 15px;
  margin: 20px 0 80px;
}

.reset-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
}

.reset-button:focus {
  outline: none;
}

.icons {
  position: absolute;
  bottom: 10px;
}

.icons i {
  color: #00D7CA;
  width: 50px;
  height: 50px;
  font-size: 45px;
}

.icons i:hover {
  cursor: pointer;
}
