html {
  background-color: black;
}

.konvajs-content {
  border: 1px solid white;
  margin-top: 10px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    border-left: 2px solid black;
    padding: 20px;
    background-color: white;
    align-items: center;
}

.play-button {
    width: 70px;
}

.play-button:hover {
    cursor: pointer;
}

.reset-button {
    padding: 7px 20px;
    margin-top: 20px;
    background-color: white;
    border: 2px solid black;
    font-size: 15px;
}

.reset-button:hover {
    cursor: pointer;
    color: #3539D6;
    border-color: #3539D6;
}

.reset-button:focus {
    outline: none;
}
